<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)WithIt.dll" #>
<#@ assembly name="$(TargetDir)WithIt.Demo.dll" #>
<#@ output extension=".cs" #>

namespace WithIt.Demo {

    public static class WithExtensions {    

<#    
    var config = WithIt.Demo.WithItConfig.Instance;
    var generator = new WithIt.Generator(config);
#>
<#= generator.GetCode() #>
    }
}